.profile-view {
  margin-top: 50px;
}

.robot-face {
  margin: 0 auto;
  width: 300px;
}

.profile-form {
  margin: 0 auto;
  width: 390px;
}

.arrow {
  position: absolute;
  top: 50%;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border-top: .4rem solid black;
  border-right: .4rem solid black;
  box-shadow: 0 0 0 lightgray;
  transition: all 200ms ease;
}

.arrow.left {
  left: 0;
  transform: translate3d(0,-50%,0) rotate(-135deg);
}

.arrow.right {
  right: 0;
  transform: translate3d(0,-50%,0) rotate(45deg);
}

.arrow:hover {
  border-top: .4rem solid orange;
  border-right: .4rem solid orange;
  box-shadow: .2rem -.2rem 0 black;
}

.arrow:hover.left {
  left: -.2rem;
}

.arrow:hover.right {
  right: -.2rem;
}
